body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    max-width: 1450px;
    /* padding: 30px 100px; */
  }
  .nav-link {
    color:white !important;
    font-size: 20px;
  }
  .navbar-light .navbar-brand {
    color: white !important;
  
  }
  
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  
  a {
    color: #ce2127;
    text-decoration: none;
  }
  
  body {
    background-color: #ebebeb !important
  
  }
  
  .header-style {
    border-bottom: 1px solid #ce2127;
    font-size:24px;
    padding-top: 10px;
  }
  .card {
    /* border:1px solid #ce2127; */
    padding:20px
  
  }
  
  .navbar-light .navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .modal-80w {
    width: 80%;
    max-width: none!important;
}